SUPABASE_URL=https://cuhryjbgbxrdjuabryoa.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1aHJ5amJnYnhyZGp1YWJyeW9hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzYyMDEyNSwiZXhwIjoyMDkzMTk2MTI1fQ.ioDaFboJa5Tc5AP5mC-zzElIjEoopbbm0whvSxppLCc
GREEN_API_INSTANCE_ID=7107592886
GREEN_API_TOKEN=47ab07112183430d986d555f1ea56a8efa328df9cc5143d5b6
GREEN_API_PHONE=256707265240
API_KEY=generate-a-random-secret-here
REDIS_URL=redis://redis:6379/0
CORS_ORIGIN=http://localhost:3000

# EgoSMS — get credentials at https://www.egosms.co
COMMS_SDK_API_KEY=050b706a50037bd6acc714f770214e8aedc5bcd21b58d67b
COMMS_SDK_USERNAME=dankwikiriza
EGOSMS_SENDER_ID=My SACCO